/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Cinzel', serif;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/main.scss */
.bloc1, .bloc2, .bloc3, .bloc4, .bloc5, .bloc6 {
  min-height: 88vh;
  background-repeat: none;
  width: 100%;
}
/* line 14, ../sass/main.scss */
.bloc1 h1, .bloc2 h1, .bloc3 h1, .bloc4 h1, .bloc5 h1, .bloc6 h1 {
  margin-left: 5vw;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 1024px) {
  /* line 14, ../sass/main.scss */
  .bloc1 h1, .bloc2 h1, .bloc3 h1, .bloc4 h1, .bloc5 h1, .bloc6 h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 14, ../sass/main.scss */
  .bloc1 h1, .bloc2 h1, .bloc3 h1, .bloc4 h1, .bloc5 h1, .bloc6 h1 {
    font-size: 20px;
  }
}
/* line 29, ../sass/main.scss */
.bloc1 p, .bloc2 p, .bloc3 p, .bloc4 p, .bloc5 p, .bloc6 p {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: white;
  font-weight: lighter;
}
@media screen and (max-width: 1024px) {
  /* line 29, ../sass/main.scss */
  .bloc1 p, .bloc2 p, .bloc3 p, .bloc4 p, .bloc5 p, .bloc6 p {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  /* line 29, ../sass/main.scss */
  .bloc1 p, .bloc2 p, .bloc3 p, .bloc4 p, .bloc5 p, .bloc6 p {
    font-size: 10px;
  }
}



/* line 76, ../sass/main.scss */
.row {
  margin: 0;
}

/* line 80, ../sass/main.scss */
body {
  background-color: #303851;
}
/* line 82, ../sass/main.scss */
body p, body a {
  font-family: 'Poppins', sans-serif;
}
/* line 85, ../sass/main.scss */
body h1 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

/* line 91, ../sass/main.scss */
h1 {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 1024px) {
  /* line 91, ../sass/main.scss */
  h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 91, ../sass/main.scss */
  h1 {
    font-size: 20px;
  }
}

/* line 105, ../sass/main.scss */
.main-nav {
  background-image: url(../img/navbar.png);
  background-repeat: no-repeat;
  height: 10vh;
}
/* line 109, ../sass/main.scss */
.main-nav button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  margin-top: -1vh;
}
/* line 115, ../sass/main.scss */
.main-nav button img {
  width: 50%;
}
/* line 120, ../sass/main.scss */
.main-nav .logo {
  width: 10vh;
  margin-top: -2vh;
}
/* line 125, ../sass/main.scss */
.main-nav #myNavbar {
  position: absolute;
  top: 2vh;
  right: 20vw;
}
/* line 130, ../sass/main.scss */
.main-nav ul li {
  display: inline;
  font-family: 'Cinzel', serif;
}
/* line 133, ../sass/main.scss */
.main-nav li {
  margin: 15px;
}
/* line 137, ../sass/main.scss */
.main-nav a {
  color: white;
  padding: 5px;
  margin: 5px;
}
/* line 141, ../sass/main.scss */
.main-nav a:hover {
  text-decoration: none;
}

/* line 152, ../sass/main.scss */
.bloc1 {
  background-image: url(../img/fond1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

/* line 163, ../sass/main.scss */
.bloc1 h1 {
  margin: 0;
  margin-top: 50vh;
}

/* line 169, ../sass/main.scss */
.grobloc2 {
  background-image: url(../img/fond2.png);
  z-index: 2;
}

/* line 175, ../sass/main.scss */
.bloc2 {
  height: 80vh;
  text-align: center;
}
/* line 179, ../sass/main.scss */
.bloc2 img {
  margin-top: -10vh;
  width: 60%;
}

/* line 185, ../sass/main.scss */
.video2 {
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  height: 20vh;
  margin: auto;
}
/* line 191, ../sass/main.scss */
.video2 h1 {
  font-weight: bold;
  font-size: 28px;
  margin: 15vh;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  /* line 191, ../sass/main.scss */
  .video2 h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 191, ../sass/main.scss */
  .video2 h1 {
    font-size: 20px;
  }
}

/* line 207, ../sass/main.scss */
.grobloc3 {
  background-image: url(../img/fond3.png);
  height: 120vh;
  z-index: 3;
}

/* line 214, ../sass/main.scss */
.bloc3 {
  text-align: center;
}
/* line 217, ../sass/main.scss */
.bloc3 img {
  height: 80%;
  margin-top: 15vh;
}

/* line 223, ../sass/main.scss */
.scenario {
  float: left;
}
/* line 225, ../sass/main.scss */
.scenario h1 {
  margin: 20vh;
  margin-bottom: 5vh;
  margin-left: 8vw;
  margin-right: 8vw;
  height: 10vh;
}

/* line 234, ../sass/main.scss */
.mockup {
  float: left;
}
/* line 236, ../sass/main.scss */
.mockup img {
  background-image: url(../img/peinture1.png);
  background-size: cover;
  width: 70%;
  margin-top: 30vh;
}

/* line 244, ../sass/main.scss */
.grobloc4 {
  background-image: url(../img/fond4.png);
  z-index: 4;
}

/* line 250, ../sass/main.scss */
.bloc4 {
  height: 80vh;
  text-align: center;
}
/* line 254, ../sass/main.scss */
.bloc4 img {
  margin-top: -10vh;
  width: 60%;
}

/* line 260, ../sass/main.scss */
.titre4 {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  height: 20vh;
}
/* line 265, ../sass/main.scss */
.titre4 h1 {
  font-weight: bold;
  font-size: 28px;
  margin: 20vh;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  /* line 265, ../sass/main.scss */
  .titre4 h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 265, ../sass/main.scss */
  .titre4 h1 {
    font-size: 20px;
  }
}


/* line 304, ../sass/main.scss */
.plateau {
  margin-top: 25vh;
  width: 90%;
}

/* line 309, ../sass/main.scss */
.blocplat {
  float: left;
}

/* line 313, ../sass/main.scss */
.blocbtn {
  float: left;
}

/* line 317, ../sass/main.scss */
.grobloc6 {
  margin-top: -20vh;
  background-image: url(../img/fond6.png);
  z-index: 6;
}

/* line 324, ../sass/main.scss */
.bloc6 {
  text-align: center;
  float: left;
  width: 20vw;
  height: 100vh;
}
/* line 330, ../sass/main.scss */
.bloc6 button {
  color: #3c4560;
}
/* line 332, ../sass/main.scss */
.bloc6 button:hover {
  background-color: #3c4560;
}

/* line 338, ../sass/main.scss */
.bouton6 {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20vh;
  float: left;
  text-align: center;
  box-sizing: border-box;
}
/* line 348, ../sass/main.scss */
.bouton6 button {
  margin-top: 20vh;
}
/* line 351, ../sass/main.scss */
.bouton6 h1 {
  font-weight: bold;
  font-size: 28px;
  margin: 15vh;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  /* line 351, ../sass/main.scss */
  .bouton6 h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* line 351, ../sass/main.scss */
  .bouton6 h1 {
    font-size: 20px;
  }
}
/* line 366, ../sass/main.scss */
.bouton6 .flyers {
  width: 20vw;
  margin-top: 15vh;
  background-image: url(../img/peinture2.png);
  background-size: cover;
}
/* line 373, ../sass/main.scss */
.bouton6 .reseau {
  height: 10vh;
  padding: 10px;
}

/* line 379, ../sass/main.scss */
footer {
  height: 0vh;

  background-repeat: no-repeat;
}
/* line 383, ../sass/main.scss */
footer a {
  text-transform: uppercase;
  padding: 5px;
  color: white;
  float: right;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 10px;
}
/* line 391, ../sass/main.scss */
footer a:hover {
  text-decoration: none;
  color: black;
  border: 1px;
  border-radius: 5px;
}

/* line 401, ../sass/main.scss */
.liens {
  margin: auto;
}
