<style>
    div.action{
        background-color: rgba(36, 43, 63, 0.9);
        position: absolute;
        border-radius: 10px;
        height: 30vh;
        padding: 1%;
        margin-left: 10vw;

    }
    div.action p{
        text-align: center;
        font-size: 2em;
        font-family: 'Cinzel', serif;
    }
    .emplacement{
        width: 7vw;
        height: 20vh;
        background-color: rgba(80,80,100,0.5);
        border-radius: 10px;
        margin-left: 17.5vw;
    }
    button{
        margin-left: 5vw;
        height: 5vh;
        background-color: #151020;
        color: white;
        border: 0px solid;
        border-radius: 10px;
        cursor: pointer;
        margin-top: -5vh;
    }
</style>

<div class="action col-8">
    <p>Secret</p>
    <div class="emplacement" id="{{ carte1.Id }}"><img src="{{ asset(carte1.ObjetImg) }}" alt=""></div>
    {% if carte1.Id != 22 %}
        <a href="{{ path('disparition_traitement', {'carte1': carte1.Id, 'joueur': joueur, 'idpartie': idpartie}) }}"><button>Jouer</button></a>
    {% endif %}
</div>

