<!DOCTYPE html>
<html>
<head>
    <title>Halvel Battle</title>
    <link rel="stylesheet" href="">

</head>
<body>
<nav></nav>
<a href="{{  path('inscription') }}">Inscription</a>
<a href="{{  path('security_login') }}">Connexion</a>
</body>
</html>
